{% extends "format.html" %}

{% block title %}Page 2{% endblock %}

{% block content %}
  <h1>What is Percy Jackson's favorite color?</h1>

 <form action="/page3" method="POST">
  Question Two:<br>
  <input type="radio" name="question2" value="1"> Blue <br>
  <input type="radio" name="question2" value="2"> Green <br>
  <input type="radio" name="question2" value="3"> Yellow <br>
  <input type="radio" name="question2" value="4"> Orange
  <br>
  <input type="submit" value="Submit">
 </form> 



{% endblock %}
