{% extends "format.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
  <h1>What extra bones to whales have that they don't use?</h1>

 <form action="/page2" method="POST">
  Question One:<br>
  <input type="radio" name="question1" value="1"> Feet <br>
  <input type="radio" name="question1" value="2"> Tail  <br>
  <input type="radio" name="question1" value="3"> Nose <br>
  <input type="radio" name="question1" value="4"> Spine
  <br>
  <input type="submit" value="Submit" >
 </form> 


{% endblock %}
