{% extends "format.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
  <h1>What extra bones to whales have that they don't use?</h1>

 <form action="/page2" method="POST">
  Question One:<br>
  <input type="radio" name="question1" value="Feet"> Feet <br>
  <input type="radio" name="question1" value="Tail"> Tail  <br>
  <input type="radio" name="question1" value="Nose"> Nose <br>
  <input type="radio" name="question1" value="Spine"> Spine
  <br>
  <input type="submit" value="Submit" >
 </form> 


{% endblock %}
