{% extends "format.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}
  <h1>Page 2: What is ________?</h1>

 <form action="/page3" method="POST">
  Question One:<br>
  <input type="radio" name="question2" value="1" class="vertical-radio">
  <input type="radio" name="question2" value="2" class="vertical-radio">
  <input type="radio" name="question2" value="3" class="vertical-radio">
  <input type="radio" name="question2" value="4" class="vertical-radio">
  <br>
  <input type="submit" value="Submit">
 </form> 



{% endblock %}
